<h2>Results:</h2>
  <table>
    <% @results.each do |time| %>
    <tr>
      <td><strong>Snippet:</strong> <%= time["snippet"] %></td>
      <td class="row_link"><%= link_to "Link to Article", time["web_url"] %></td>
    </tr>
    <% end %>
  </table>
