/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

*/

@import url(http://fonts.googleapis.com/css?family=Muli);

 nav {
   margin-top: 10%;
 }

.topbar {
  width: 100%;
  background: #000;
  height: 7%;
  font-family: 'Muli', sans-serif;
}

.topbar li {
  color: #fff;
  background: #000;
}

.party {
  display: block;
}

.f-dropdown ul {
    width: 20%;
}

.candidate {
  display: inline;
  width:40%;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.circle
{
width:150px;
height:150px;
border-radius:50%;
font-size:26px;
color:#000;
line-height:150px;
text-align:center;
background:#000
}

.alert-box.info {
  border: 3px solid #3498DB;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4); }

  .alert-box .close {
  background: transparent;
  color: #fff;
  font-size: 2rem;
  top: 19px; }
