/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides



*/

 nav {
   margin-top: 10%;
 }
/*
  a:hover {
    color: #fff;
  }
  .content
  {
    height: 396px;
    background: #fbfbfb;
  }

ul {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}*/

.topbar {
  width: 100%;
  background: #000;
  height: 7%;
}

.topbar li {
  color: #fff;
  background: #000;
}

.party {
  display: block;
}

.f-dropdown li {
    width:25%;
}
.candidate {
  display: inline-block;
}

.img {
  max-width: 200px;
  max-height: 200px;
}

.circle
{
width:200px;
height:200px;
border-radius:50%;
font-size:30px;
color:#000;
line-height:200px;
text-align:center;
background:#000
}

.alert-box.info {
  border: 3px solid #3498DB;
  border-radius: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4); }

  .alert-box .close {
  background: transparent;
  color: #fff;
  font-size: 2rem;
  top: 19px; }
