<main>

	<div id="myModal" class="reveal-modal" data-reveal>
	  <h2>Candidate Timeline</h2>
		<h3>Presidential Primaries 2016</h3>
	  <p class="lead">See what issues the candidates have been talking about, when. Drag and drop on the blank timeline to build your own with the issues you care about most.</p>
	  <a class="close-reveal-modal">&#215;</a>
	</div>

<nav>
	<div class="row">
		<div class="small-3 columns">
			<div class="circle">
				<a href="#" data-dropdown="hover1" data-options="is_hover:true; hover_timeout:3000">Candidates</a>
			</div>
			<ul id="hover1" data-options="align:center" class="f-dropdown" data-dropdown-content>
			  <li class="party"><a href="#"><h3>Democrats</h3></a></li>
					  <li class="candidate"><a href="/candidates/1">Hillary Clinton</a></li>
						<li class="candidate">Jim Webb</li>
						<li class="candidate">Lincoln Chafee</li>
						<li class="candidate">Martin O'Malley</li>
				<li class="party"><a href="/candidates/<%= @republicans %>"><h3>Republicans</h3></a></li>
						<li class="candidate">Chris Christie</li>
						<li class="candidate">Jeb Bush</li>
						<li class="candidate">Marco Rubio</li>
						<li class="candidate"><a href="/candidates/2">Rand Paul</a></li>
						<li class="candidate">Rick Perry</li>
						<li class="candidate">Scott Walker</li>
						<li class="candidate">Ted Cruz</li>
				<li class="party"><h3>Independent</h3></li>
						<li class="candidate"><a href="/candidates/3">Bernie Sanders</a></li>
			</ul>
		</div>
  	<div class="small-6 columns">
				<%= image_tag "timeline02.png" %>
			</div>
  	<div class="small-3 columns">
			<div class="circle"><a href="#" data-dropdown="hover2" data-options="is_hover:true; hover_timeout:3000">Topics</a></div>
			<ul id="hover2" data-options="align:left" class="f-dropdown" data-dropdown-content>
				<li>Civil Rights</li>
				<li>Economy</li>
				<li>Education</li>
				<li>Gun Control</li>
				<li>Healthcare</li>
		</ul>
	</div>
</nav>
