<h2>Articles</h2>

<%= form_tag "/articles/search", method: :get do %>
  <%= text_field_tag :search_term %>
  <%= submit_tag "Search" %>
<% end %>

<ul>
  <% @articles.each do |article| %>
    <li>
       <%= link_to article.title, article.candidate %>
    </li>
  <% end %>
</ul>
