<h2><%=@candidate.name%></h2>


<table style="width:100%">
  <tr>
    <td>Title</td>
    <td>URL</td>
    <td>Date</td>
  </tr>
  <tr>
    <td><%=@article.title%></td>
    <td><%=@article.url%></td>
    <td><%=@article.date%></td>
  </tr>
