<h2>Candidates</h2>

<ul>
  <% @candidates.each do |candidate| %>
    <li>
       <%= link_to(candidate.name, candidate) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a Candidate", new_candidate_path %>
