<main>
	<nav>
		<ul>
			<li><h2>Candidates</h2>
					<ul>
						<li><h3><a href="">Democrats</a></h3></li>
						<li><a href="">Hillary Clinton</a></li>
						<li>Jim Webb</li>
						<li>Lincoln Chafee</li>
						<li>Martin O'Malley</li>
						<li><h3><a href="">Republicans</a></h3></li>
						<li>Chris Christie</li>
						<li>Jeb Bush</li>
						<li>Marco Rubio</li>
						<li><a href="">Rand Paul</a></li>
						<li>Rick Perry</li>
						<li>Scott Walker</li>
						<li>Ted Cruz</li>
						<li><h3><A href="">Independent</a></h3></li>
						<li>Bernie Sanders</li>
					</ul>
				</li>
		</ul>
		<ul>
			<li><h2>Topics</h2>
					<ul>
						<li>Civil Rights</li>
						<li>Economy</li>
						<li>Environment</li>
						<li>Gun Control</li>
						<li>Healthcare</li>
						<li>Infrastructure</li>
						<li>LGBT+ Issues</li>
						<li>Trade</li>
						<li>Women's Issues</li>
					</ul>
				</li>
		</ul>
	</nav>
	<div class="timeline">TIMELINE</div>
</main>
