/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

*/

@import url(https://fonts.googleapis.com/css?family=Muli);

*
{
padding:0;
margin:0;
border:0;
box-sizing:border-box;
}

 nav {
   margin-top: 10%;
   text-align: center;
 }

.topbar {
  width: 100%;
  background: #000;
  height: 7%;
  font-family: 'Muli', sans-serif;
}

.topbar li {
  color: #fff;
  background: #000;
}



/*login/sign up modal*/

#signin {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  width: 50%;
}

.type {
  color: #008CBA;
}

/*front page modal*/
.reveal-modal, .reveal-modal h2, .reveal-modal h3 {
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
}

/*alert box*/

.alert-box.info {
    border: 3px solid #3498DB;
    border-radius: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .alert-box .close {
    background: transparent;
    color: #fff;
    font-size: 2rem;
    top: 19px;
  }




/*front page hover menu*/

.circle
{
  width:150px;
  height:150px;
  border-radius:50%;
  font-size:26px;
  color:#000;
  line-height:150px;
  text-align:center;
  background:#000
}

.f-dropdown {
  overflow: hidden;
  width: 300px;
}

.party {
  display: block;
  width: 200px;
  padding: 5px 10px 0px 30px;
  border-bottom: 1px solid #999;
  margin-bottom: 2px;
}

.party a:hover {
  color: #008CBA;
}

.candidate li {
  padding: 4px;
  text-align: center;
  color: #DDD;
  width: 40%;
  margin: 2px;
}

.candidate a {
  color: #000;
}

.candidate a:hover {
  color:#008CBA;
}


ul>ul {
  border:0;
}

nav ul {
  width: 100%;
}

/*Candidate Show Page*/
.basic-info {
  margin: 10px auto;

}

.basic-info .image {
  margin: 0 43%;
  max-width: 200px;
  max-height: 200px;
}

.name {
  text-align: center;
}

/* Articles */

.topics {
  margin: 20px 10%;
  box-shadow:0px 0px 1px 1px #F6F6F6;
}

.tabs {
  margin: 10px;
}

.articles ul {
  padding:6px;
}

.articles li {
  border: 1px solid #222;
  padding: 6px;
}

.submit {
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  float: right;
  background-color: #C0C0C0;
}

.article_list {
  padding: 5px;
  margin: 10px;
}

.article_list h3 {
  margin-top: 10px;
}

td {
  padding: 0;
}

.row_title {
  width: 15%;
}

.row_link {
  width: 10%;
}
